# Node
node_modules/
npm-debug.log

# Python
__pycache__/
*.pyc

# Flutter / Dart
build/
._flutter-plugins
.flutter-plugins-dependencies

# VS Code
.vscode/

# Logs
*.log

# System
.DS_Store
Thumbs.db

# Environment
.env
.env.local
.env.*.local

# Cache
.cache/

# Temporary
tmp/
temp/
